<div id="modal_backdrop"
     [ngClass]="{'show_backdrop': modalOpen}"></div>
<div id="movie_modal"
     [ngClass]="{'modal_open': modalOpen}">
    <h2 id="card_title"
        *ngIf="editingMovie.id">Edit Movie</h2>
    <h2 id="card_title"
        *ngIf="!editingMovie.id">Add New Movie</h2>
    <button id="remove_movie"
            *ngIf="editingMovie.id"
            (click)="removeMovie(editingMovie)">Remove</button>
    <ul id="movie_properties">
        <li class="property">
            <label for="title">Title:</label>
            <input type="text"
                   name="title"
                   [(ngModel)]="editingMovie.title" />
        </li>
        <li class="property">
            <label for="director">Director:</label>
            <input type="text"
                   name="director"
                   [(ngModel)]="editingMovie.director" />
        </li>
        <li class="property">
            <label for="releaseDate">Release Date:</label>
            <input type="date"
                   name="releaseDate"
                   [(ngModel)]="editingMovie.releaseDate" />
        </li>
        <li class="property">
            <label for="rating">Rating:</label>
            <input type="number"
                   min="1"
                   max="5"
                   name="rating"
                   [(ngModel)]="editingMovie.rating" />
        </li>
    </ul>
    <div id="movie_validation"
         *ngIf="!validMovieModel">
        {{ validationErrorMessage }}
    </div>
    <div id="tab_footer">
        <span (click)="closeMovieDetails()">Cancel</span>
        <span (click)="saveMovie(editingMovie)">Save</span>
    </div>
</div>
<div id="movies_container">
    <div id="fields_grid">
        <ul>
            <li class="row fields_header">
               <ul>
                   <li>Title</li>
                   <li>Director</li>
                   <li>Release Date</li>
                   <li>Rating</li>
                </ul> 
            </li>
            <li class="row fields_list_item"
                *ngFor="let movie of movies | sortMovies; trackBy: trackByMovies">
                <ul>
                   <li (click)="viewMovieDetails(movie)">{{ movie.title }}</li>
                   <li>{{ movie.director }}</li>
                   <li>{{ movie.releaseDate | date:'MMM d, yyyy' }}</li>
                   <li>
                     <span [ngClass]="{'ion-ios-star-outline': movie.rating === 0 && movie.hovering === 0, 'ion-ios-star': movie.rating >= 1 || movie.hovering >= 1}"
                           (mouseover)="movie.hovering = 1"
                           (mouseout)="movie.hovering = 0"
                           (click)="updateMovieRating(movie, 1)"></span>
                     <span [ngClass]="{'ion-ios-star-outline': movie.rating < 2 && movie.hovering < 2, 'ion-ios-star': movie.rating >= 2 || movie.hovering >= 2}"
                           (mouseover)="movie.hovering = 2"
                           (mouseout)="movie.hovering = 0"
                           (click)="updateMovieRating(movie, 2)"></span>
                     <span [ngClass]="{'ion-ios-star-outline': movie.rating < 3 && movie.hovering < 3, 'ion-ios-star': movie.rating >= 3 || movie.hovering >= 3}"
                           (mouseover)="movie.hovering = 3"
                           (mouseout)="movie.hovering = 0"
                           (click)="updateMovieRating(movie, 3)"></span>
                     <span [ngClass]="{'ion-ios-star-outline': movie.rating < 4 && movie.hovering < 4, 'ion-ios-star': movie.rating >= 4 || movie.hovering >= 4}"
                           (mouseover)="movie.hovering = 4"
                           (mouseout)="movie.hovering = 0"
                           (click)="updateMovieRating(movie, 4)"></span>
                     <span [ngClass]="{'ion-ios-star-outline': movie.rating < 5 && movie.hovering < 5, 'ion-ios-star': movie.rating === 5 || movie.hovering === 5}"
                           (mouseover)="movie.hovering = 5"
                           (mouseout)="movie.hovering = 0"
                           (click)="updateMovieRating(movie, 5)"></span>
                   </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<button (click)="addNewMovie()">Add</button>